.cardslider-container{
    gap: 1rem;
    position: relative;
    padding: 1rem 0;
    background-color: black;

}

.cardslider-title{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 50px;
}

.wrapper i{
    color: white;
}


.slider{
    width: max-content;
    gap: 0.2rem;
    transform: translateX(0px);
    transition: 0.3s ease-in-out;
    margin-left: 50px;
}

.slider-action{
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0%;
    bottom: 0;
    width: 50px;
    transition: 0.3s ease-in-out;
}

.slider-action i{
    font-size: 2rem;
}

.slider-action i:hover{
    font-size: 2.7rem;
    box-shadow: 2px solid black;
}

.none{
    display: none;
}
.left-arrow{
    left: 0;
    cursor: pointer;
}

.right-arrow{
    right: 0;  
    cursor: pointer;
}

.link{
    display: none;
}


@media (max-width: 500px) {
    .cardslider-container{
        gap: 0rem;
        padding: 1rem 0;
    
    }

    .cardslider-title{
        font-size: 20px;
        font-weight: 600;
        color: #808080;
        margin-left: 2.5rem;
    }
    .slider{
        width: max-content;
        gap: 0.2rem;
        transform: translateX(0px);
        transition: 0.3s ease-in-out;
        margin-left: 18px;
    }
    .slider-action{
        position: absolute;
        z-index: 1;
        height: 100%;
        top: 8%;
        bottom: 0;
        width: 50px;
        transition: 0.3s ease-in-out;
    }
}