.stepone-signup-bar{
    width: 100%;
    height: 100vh;
}
.stepone-bar{
    width: 450px;
    height: 500px;
}
.stepone-title1{
    margin-bottom: 10px;
}
.stepone-title{
    font-size: 12px;
    margin-top: 45px;
}

.stepone-title2{
    font-size: 18px;
    line-height: 1.2;
}

.stepone-btn{
    width: 430px;
    height: 60px;
    outline: none;
    border: none;
    background-color: rgb(201, 9, 19);
    font-size: 25px;
    border-radius: 5px;
    color: white;
    margin-top: 15px;

}

.stepone-btn:hover{
    background-color: rgba(229, 9, 20);

}

.stepone-input1{
    width: 430px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid black;
    outline: none;

}
.stepone-input2{
    width: 430px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid black;
    outline: none;

}

.error{
    color: rgb(201, 9, 19);
    font-size: 15px;
}

#email-required{
    font-size: 15px;
    color: rgb(193, 17, 25);
}
.password-valid{
    font-size: 14px;
    color: #Eb3942;
    font-weight: 600;
}

.stepone-input2:focus{
    outline: 2px solid black;
}



@media (max-width: 500px) {
    .stepone-bar{
        width: 320px;
        height: 500px;
    }
    .stepone-input1{
        width: 320px;
        height: 50px;
        margin-top: 15px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid black;
        outline: none;
    
    }
    .stepone-input2{
        width: 320px;
        height: 50px;
        margin-top: 10px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid black;
        outline: none;
    
    }
    .stepone-btn{
        width: 320px;
        height: 50px;
        outline: none;
        border: none;
        background-color: rgb(201, 9, 19);
        font-size: 25px;
        border-radius: 5px;
        color: white;
        margin-top: 15px;
    
    }
    .stepone-title{
        font-size: 15px;
        margin-top: 45px;
    }
    .stepone-title2{
        font-size: 18px;
        line-height: 1.2;
    }
}

@media (max-width:368px) {
    .stepone-bar{
        width: 320px;
        height: 500px;
    }
    .stepone-title1{
        margin-bottom: 10px;
    }
    .stepone-title{
        font-size: 15px;
        margin-top: 45px;
    }
    
    .stepone-title2{
        font-size: 16px;
        line-height: 1.5;
    }
    
    .stepone-btn{
        width: 320px;
        height: 50px;
        outline: none;
        border: none;
        background-color: rgb(201, 9, 19);
        font-size: 25px;
        border-radius: 5px;
        color: white;
        margin-top: 15px;
    
    }
    
    .stepone-btn:hover{
        background-color: rgba(229, 9, 20);
    
    }
    
    .stepone-input1{
        width: 320px;
        height: 50px;
        margin-top: 15px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid black;
        outline: none;
    
    }
    .stepone-input2{
        width: 320px;
        height: 50px;
        margin-top: 10px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid black;
        outline: none;
    
    }
}